<div class="background">

    <div>
        <img class="borda-topo" src="../../../assets/img/borda-topo.png" alt="">
        <img class="head" src="../../../assets/img/head.png" alt="5 anos de Sarados para Sarar.">
    
        <div id="carrossel" class="carousel slide mt-5 mb-5">

            <button class="carousel-control-prev" type="button" data-bs-target="#carrossel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrossel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        
            <div class="carousel-inner">
        
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../assets/img/25.1.png" alt="25 de agosto - Pr. Marco Aurélio">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/25.2.png" alt="25 de agosto - Larissa Marques">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/25.3.png" alt="25 de agosto - Walber Sena">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/26.1.png" alt="26 de agosto - Pr. Jeremilson Borges">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/26.2.png" alt="26 de agosto - Emerson">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/26.3.png" alt="26 de agosto - Taline Gonçalves">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/27.1.png" alt="27 de agosto - Pr. Saulo Iuri">
                </div>
        
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/27.2.png" alt="27 de agosto - Wellington Santos">
                </div>
                
            </div>
            
        </div>
    
    </div>

    

    <div class="footer">

        <a routerLink="/repertorio">
            <div class="social">
                <img src="../../../assets/img/logo-repertorio.png" alt="Repertrio com as músicas do congresso.">
                <h1 class="font">Repertório</h1>
            </div>
        </a>

        <a href="https://www.instagram.com/adsaradosparasarar/" target="_blank">
            <div class="social">
                <img src="../../../assets/img/logo-instagram.png" alt="Instagram Sarados para Sarar">
                <h1 class="font">Instagram</h1>
            </div>
        </a>

        <a href="https://www.youtube.com/@adsaradosparasarar6626" target="_blank">
            <div class="social">
                <img src="../../../assets/img/logo-youtube.png" alt="YouTube Sarados para Sarar">
                <h1 class="font">YouTube</h1>
            </div>
        </a>

    </div>

    <div>
        <img class="borda-foot" src="assets/img/borda-foot.png" alt="">
    </div>

</div>