<div class="background">

    <div>
        <img class="borda-topo" src="../../../assets/img/borda-topo.png" alt="">
    </div>

    <div>

        <div class="margin-4">
            <div class="text padding-2">
                <h1 class="font-title">Hino Tema:</h1>
            </div>

            <div class="text">
                <h2 class="font-body">Via Dolorosa + Vitória</h2>
            </div>
            <div class="text">
                <h2 class="font-body">+ Oh quão Lindo esse Nome É (Bm)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-tema">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-tema">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="margin-5">
            <div class="text padding-2">
                <h1 class="font-title">Sexta:</h1>
            </div>

            <div class="text">
                <h2 class="font-body">Rose Nascimento - Escolhido</h2>
            </div>
            <div class="text">
                <h2 class="font-body">+ Anderson Freire - Ele Chegou (Bm)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-sexta-1">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-sexta-1">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text">
                <h2 class="font-body">Sarah Beatriz e Samuel</h2>
            </div>
            <div class="text">
                <h2 class="font-body">Messias - Promessas (G#m)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-sexta-2">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-sexta-2">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="margin-5">
            <div class="text padding-2">
                <h1 class="font-title">Sábado:</h1>
            </div>

            <div class="text">
                <h2 class="font-body">Valesca Mayssa - Jesus Venceu (F#m)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-sabado-1">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-sabado-1">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text margin-top-4">
                <h2 class="font-body">Attos 2 (6ª edição) - Até que</h2>
            </div>
            <div class="text">
                <h2 class="font-body">o Senhor Venha (C#m)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-sabado-2">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-sabado-2">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="margin-5">
            <div class="text padding-2">
                <h1 class="font-title">Domingo:</h1>
            </div>

            <div class="text margin-top-4">
                <h2 class="font-body">Kemuel - Ressuscitou</h2>
            </div>
            <div class="text">
                <h2 class="font-body">+ H.C. - Mensagem da Cruz (C#)</h2>
            </div>

            <div class="tabela margin-2">
                <div class="tabela-body">
                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#letra-domingo">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-letra.png" alt="Letra do hino de sexta.">
                                <h1 class="font">Letra</h1>
                            </div>
                        </button>
                    </div>

                    <div class="body margin-2">
                        <button class="color-button" data-bs-toggle="modal" data-bs-target="#ouvir-domingo">
                            <div class="social p-0">
                                <img src="../../../assets/img/logo-ouvir.png" alt="Ouvir hino de sexta.">
                                <h1 class="font">Ouvir</h1>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer">

        <a routerLink="/">
            <div class="social">
                <img src="../../../assets/img/logo-programacao.png" alt="Programação completa do congresso.">
                <h1 class="font">Programação</h1>
            </div>
        </a>

        <a href="https://www.instagram.com/adsaradosparasarar/" target="_blank">
            <div class="social">
                <img src="../../../assets/img/logo-instagram.png" alt="Instagram Sarados para Sarar">
                <h1 class="font">Instagram</h1>
            </div>
        </a>

        <a href="https://www.youtube.com/@adsaradosparasarar6626" target="_blank">
            <div class="social">
                <img src="../../../assets/img/logo-youtube.png" alt="YouTube Sarados para Sarar">
                <h1 class="font">YouTube</h1>
            </div>
        </a>

    </div>

    <div>
        <img class="borda-foot" src="../../../assets/img/borda-foot.png" alt="">
    </div>

</div>

<!--Modals:-->

<!--Letra-Tema-->
<div class="modal fade" id="letra-tema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Hino Tema:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Via Dolorosa + Vitória<br>+ Oh quão Lindo esse Nome É
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (Bm)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Pela via dolorosa, em Jerusalém, chegou<br>
                        Certo homem carregando uma cruz<br>
                        Multidões queriam ver <br>
                        O homem condenado a morrer<br>
                        Ele estava tão ferido e sangrava sem parar<br>
                        Coroado com espinhos Ele foi<br>
                        E em dor, podia ver<br>
                        O homem condenado a morrer<br>
                        <br>
                        Pela via dolorosa, que é a estrada de horror<br>
                        Qual ovelha, veio Cristo, Rei e Senhor<br>
                        Ele foi quem escolheu, dar a vida por ti e por mim<br>
                        Pela via dolorosa, meu Jesus sofreu assim<br>
                        <br>
                    </h2>
                    <h2 class="font-modal font-amarela">
                        Eu imagino como sofreu meu Jesus em Sua cruz<br>
                        Silêncio e tristeza, e dor, do Filho de Deus.<br>
                        <br>
                        Eli Eli Lamá Sabactâni, Clamava em alta voz. (4x)<br>
                        <br>
                        Foi mais que morte, foi amor por mim e por ti<br>
                        Quando acabou o véu se rasgou e Ele venceu<br>
                        Quando acabou o véu se rasgou e Ele venceu.<br>
                        <br>
                        Vitória, vitória, Ele venceu<br>
                        Vitória, vitória, Filho de Deus. (2x)<br>
                        <br>
                    </h2>
                    <h2 class="font-modal">
                        A morte venceste, o véu Tu rompeste<br>
                        A tumba vazia agora está<br>
                        O céu Te adora<br>
                        Proclama Tua glória<br>
                        Pois ressuscitaste e vivo estás<br>
                        És invencível, inigualável<br>
                        Hoje e pra sempre reinarás<br>
                        Teu é o reino, Tua é a glória<br>
                        Acima de todo nome estás<br>
                        <br>
                        Oh quão lindo esse nome é<br>
                        Oh quão lindo esse nome é<br>
                        O nome de Jesus, meu Deus<br>
                        Oh quão lindo esse nome é<br>
                        Maior que tudo ele é<br>
                        Oh quão lindo esse nome é<br>
                        O nome de Jesus<br>
                        <br>
                        Poderoso esse nome é<br>
                        Maior que tudo ele é<br>
                        Poderoso esse nome é<br>
                        O nome de Jesus<br>
                        Poderoso esse nome é<br>
                        O nome de Jesus<br>
                        Poderoso esse nome é<br>
                        O nome de Jesus<br>
                        <br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ouvir-Tema-->
<div class="modal fade" id="ouvir-tema" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Hino Tema:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Via Dolorosa + Vitória<br>+ Oh quão Lindo esse Nome É
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (Bm)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JspxFxPzAfY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BgGNv4qHF0M"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V-n0FDCT2N4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Letra-Sexta-1-->
<div class="modal fade" id="letra-sexta-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sexta:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Rose Nascimento - Escolhido <br> + Anderson Freire - Ele Chegou
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (Transpor para Bm)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Oh oh oh oh <br>
                        <br>
                        Um semblante de dor<br>
                        Eu no banco dos réus<br>
                        O inferno já comemorava o veredito<br>
                        Que eu não poderia me salvar<br>
                        A condenação por meu pecado então<br>
                        A morte eu teria que enfrentar<br>
                        <br>
                        Mas Jesus se levantou por mim<br>
                        Ele se fez réu em meu lugar<br>
                        Ele padeceu por mim<br>
                        Se entregou pra me salvar<br>
                        <br>
                        Tá decretado, eu fui escolhido por unanimidade<br>
                        Por ele fui ungido<br>
                        Se o inimigo se levanta contra mim<br>
                        O meu advogado, Ele intercederá por mim<br>
                        Eu fui marcado pelo sangue de Cristo<br>
                        Justificado, co-herdeiro sou<br>
                        De suas promessas eu não abro mão<br>
                        A minha vida é Cristo consagrei meu coração<br>
                        <br>
                        Oh oh oh oh<br>
                        <br>
                        Mas Jesus se levantou por mim<br>
                        Ele se fez réu em meu lugar<br>
                        Ele padeceu por mim<br>
                        Se entregou pra me salvar<br>
                        <br>
                        Tá decretado, eu fui escolhido por unanimidade<br>
                        Por ele fui ungido<br>
                        Se o inimigo se levanta contra mim<br>
                        O meu advogado, Ele intercederá por mim<br>
                        Eu fui marcado pelo sangue de Cristo<br>
                        Justificado, co-herdeiro sou<br>
                        De suas promessas eu não abro mão<br>
                        A minha vida é Cristo consagrei meu coração<br>
                        <br>
                        Eu não abro mão (Da minha herança) eu não abro mão <br>
                        Não abro mão (Da minha salvação) não abro mão <br>
                        Eu não abro mão (Da minha herança) eu não abro mão <br>
                        Não abro mão (Da minha salvação) não abro mão <br>
                        <br>
                        Tá decretado, eu fui escolhido por unanimidade<br>
                        Por ele fui ungido<br>
                        Se o inimigo se levanta contra mim<br>
                        O meu advogado, ele intercederá por mim<br>
                        Eu fui marcado pelo sangue de Cristo<br>
                        Justificado, co-herdeiro sou<br>
                        De suas promessas eu não abro mão<br>
                        A minha vida é Cristo consagrei meu coração<br>
                        <br>
                    </h2>
                    <h2 class="font-modal font-amarela">
                        O Deus de paz, o Deus de paz<br>
                        Esmagará satanás<br>
                        Colocará, colocará aqui de baixo nos meus pés<br>
                        Eu vou pisar, eu vou pisar<br>
                        Com muita força, livre sou<br>
                        Morreu o velho Adão<br>
                        Em Cristo, eu nasci<br>
                        Voltei à minha origem<br>
                        Estou de volta no jardim (3x)<br>
                        <br>
                    </h2>
                    <h2 class="font-modal">
                        Tá decretado, eu fui escolhido por unanimidade<br>
                        Por ele fui ungido<br>
                        Se o inimigo se levanta contra mim<br>
                        O meu advogado, ele intercederá por mim<br>
                        Eu fui marcado pelo sangue de Cristo<br>
                        Justificado, co-herdeiro sou<br>
                        De suas promessas eu não abro mão<br>
                        <br>
                        A minha vida é Cristo consagrei meu coração<br>
                        <br>
                        Eu não abro mão<br>
                        Não abro mão<br>
                        Da minha salvação<br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ouvir-Sexta-1-->
<div class="modal fade" id="ouvir-sexta-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sexta:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Rose Nascimento - Escolhido <br> + Anderson Freire - Ele Chegou
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (Transpor para Bm)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tKEszHz_KS4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-modal">
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/0_hKHVU5wgk?clip=Ugkx-XijugLn9aT4w7QGGZBacw976NPNgi_d&amp;clipt=EMjSDBiL_g8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Letra-Sexta-2-->
<div class="modal fade" id="letra-sexta-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sexta:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Sarah Beatriz e Samuel<br>Messias - Promessas
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (G#m)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Deus de Abraão<br>
                        Sei que nunca quebrará a aliança que me fez<br>
                        Provado já está <br>
                        Que o que prometeu Ele cumprirá<br>
                        Mesmo em meio ao vento <br>
                        E à tempestade, eu firme estarei<br>
                        Que eu possa entender<br>
                        Se Ele prometeu, vai acontecer<br>
                        <br>
                        Fiel, Tu és, Senhor, a mim<br>
                        Fiel, Tu és, Senhor, a mim<br>
                        Do nascer do Sol ao anoitecer<br>
                        Eu Te louvarei<br>
                        Fiel, Tu és, Senhor, a mim<br>
                        <br>
                        Tudo passará<br>
                        Mas Tua palavra permanecerá<br>
                        A história já provou <br>
                        O Teu poder, Senhor<br>
                        Fiel é o Teu amor<br>
                        <br>
                        Mesmo em meio ao vento <br>
                        E à tempestade, eu firme estarei<br>
                        Que eu possa entender<br>
                        Se Ele prometeu, vai acontecer<br>
                        <br>
                        Fiel, Tu és, Senhor, a mim<br>
                        Fiel, Tu és, Senhor, a mim<br>
                        Do nascer do Sol ao anoitecer<br>
                        Eu Te louvarei<br>
                        Fiel, Tu és, Senhor, a mim<br>
                        <br>
                        Eh eh eh eh<br>
                        <br>
                        Espírito Santo<br>
                        Minha fé está em Cristo<br>
                        Firmado Nele estou<br>
                        Ele é a minha rocha<br>
                        Que nunca me deixou<br>
                        <br>
                        Minha fé está em Cristo<br>
                        Firmado Nele estou<br>
                        <br>
                        Ele é a minha rocha<br>
                        Que nunca me deixou<br>
                        <br>
                        Minha fé está em Cristo<br>
                        Firmado Nele estou<br>
                        Ele é a minha rocha<br>
                        Que nunca me deixou(2x)<br>
                        <br>
                        Minha fé está em Cristo (Uh)<br>
                        Firmado Nele estou (Estou firmado)<br>
                        Ele é a minha rocha<br>
                        (Que nunca me deixou)<br>
                        Que nunca me deixou<br>
                        <br>
                        Eu Te louvo<br>
                        <br>
                        Eu te louvo em todo tempo <br>
                        Eu Te louvo em meio às provações<br>
                        <br>
                        E eu Te louvo<br>
                        <br>
                        Ah, eu Te louvo <br>
                        Quando tudo está perdido<br>
                        Quando não há mais saída <br>
                        Eu Te louvo<br>
                        <br>
                        E eu Te louvo<br>
                        <br>
                        Quando o vento está soprando<br>
                        Quando não há mais saída<br>
                        <br>
                        E eu Te louvo <br>
                        <br>
                        (E eu te louvo)<br>
                        <br>
                        (Quando tudo está perdido)<br>
                        Yeah! (Eu Te louvo)<br>
                        <br>
                        Fiel, Tu és, Senhor, a mim <br>
                        (Aleluia!)<br>
                        Fiel, Tu és, Senhor, a mim<br>
                        Do nascer do Sol ao anoitecer<br>
                        Eu Te louvarei<br>
                        Fiel, Tu és, Senhor, a mim<br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ouvir-Sexta-2-->
<div class="modal fade" id="ouvir-sexta-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sexta:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Sarah Beatriz e Samuel<br>Messias - Promessas
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (G#m)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YckFv7QYuEM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Letra-Sábado-1-->
<div class="modal fade" id="letra-sabado-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sábado:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Valesca Mayssa - Jesus Venceu
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (F#m)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia (2x)<br>
                        <br>
                        O valente só fica até outro mais valente <br>na casa chegar, na casa chegar<br>
                        É a bíblia que afirma que é impossível <br>dois reis governar no mesmo lugar<br>
                        <br>
                        E Jesus chegou, o mais valente chegou<br>
                        Para anular a minha sentença de morte<br>
                        Somente o preço muito caro de um sangue<br>
                        Sem pecado poderia mudar minha sorte<br>
                        E Jesus mudou, Jesus mudou<br>
                        E aquela dívida que me condenava lá na cruz, ela foi paga<br>
                        Foi Jesus quem pagou, o sangue derramou<br>
                        Eu não sou mais escravo, tudo está consumado<br>
                        <br>
                        Onde está, ó morte, a tua vitória<br>
                        Onde está, ó morte, o teu aguilhão<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        <br>
                        E Jesus chegou, o mais valente chegou<br>
                        Para anular a minha sentença de morte<br>
                        Somente o preço muito caro de um sangue<br>
                        Sem pecado poderia mudar minha sorte<br>
                        E Jesus mudou, Jesus mudou<br>
                        E aquela dívida que me condenava lá na cruz, ela foi paga<br>
                        Foi Jesus quem pagou, o sangue derramou<br>
                        Eu não sou mais escravo, tudo está consumado<br>
                        <br>
                        E onde está, ó morte, a tua vitória<br>
                        Onde está, ó morte, o teu aguilhão<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        <br>
                        E Jesus chegou, o mais valente chegou<br>
                        Para anular a minha sentença de morte<br>
                        Somente o preço muito caro de um sangue <br>
                        Sem pecado poderia mudar minha sorte<br>
                        E Jesus mudou, Jesus mudou<br>
                        E aquela dívida que me condenava lá na cruz, ela foi paga<br>
                        Foi Jesus quem pagou, o sangue derramou<br>
                        Eu não sou mais escravo, tudo está consumado<br>
                        <br>
                        E onde está, ó morte, a tua vitória<br>
                        Onde está, ó morte, o teu aguilhão<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        <br>
                        Eu sinto cheiro de vida<br>
                        Estou cercado de vida<br>
                        Jesus venceu pra me dar vida<br>
                        Vida em abundância<br>
                        Eu sinto cheiro de vida<br>
                        Estou cercado de vida<br>
                        Jesus venceu pra me dar vida<br>
                        Vida em abundância (4x)<br>
                        <br>
                        E onde está ó morte a tua vitória<br>
                        Onde está ó morte o teu aguilhão<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        Jesus venceu, ressuscitou pra me dar vida<br>
                        Jesus venceu, ressuscitou vem me buscar um dia<br>
                        <br>
                    </h2>
                    <h2 class="font-modal font-amarela">
                        Pra linda pátria estou voltando<br>
                    </h2>
                    <h2 class="font-modal">
                        Jesus venceu!<br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ouvir-Sábado-1-->
<div class="modal fade" id="ouvir-sabado-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sábado:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Valesca Mayssa - Jesus Venceu
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (F#m)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7AHxeuNeY38"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Letra-Sábado-2-->
<div class="modal fade" id="letra-sabado-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sábado:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Attos 2 (6ª edição) - Até que <br>o Senhor Venha
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (C#m)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Fere o meu coração<br>
                        (Aviva-nos, aviva-nos, aviva-nos senhor)<br>
                        Com uma ferida de fome por ti<br>
                        Fere o meu coração<br>
                        Com uma ferida de sede por ti<br>
                        Ensina-me a clamar e a suplicar<br>
                        Até que o senhor venha<br>
                        <br>
                        Até que Senhor venha<br>
                        Eu vou clamar<br>
                        Até que o senhor venha<br>
                        Eu não vou descansar<br>
                        Até que o senhor venha<br>
                        Eu vou gastar a minha vida<br>
                        Diante do teu altar, Deus!<br>
                        Diante do teu altar!<br>
                        <br>
                        Oh, se você rasgar o céu<br>
                        Apenas mais uma vez<br>
                        Oh, se você descer e fizer<br>
                        Teus grandes feitos de novo<br>
                        Como nos tempos passados<br>
                        Mostra teu braço forte oh, grande rei!<br>
                        Mostra a essa geração<br>
                        Teus prodígios e sinais<br>
                        <br>
                        Vem mais uma vez e faz tudo novo<br>
                        Vem mais uma vez e agita todo o meu ser<br>
                        Faz a eternidade se alinhar com o natural<br>
                        E da terra, nós que somos pó clamamos<br>
                        Aviva-nos, aviva-nos, aviva-nos senhor!<br>
                        <br>
                        Fere o meu coração <br>
                        Com uma ferida de fome por ti<br>
                        Fere o meu coração<br>
                        Com uma ferida de sede por ti<br>
                        Ensina-me a clamar e a suplicar<br>
                        Até que o senhor venha<br>
                        <br>
                        Até que Senhor venha<br>
                        Eu vou clamar<br>
                        Até que o senhor venha<br>
                        Eu não vou descansar<br>
                        Até que o senhor venha<br>
                        Eu vou gastar a minha vida<br>
                        Diante do teu altar, Deus!<br>
                        Diante do teu altar! (2x)<br>
                        <br>
                        Fere o meu coração<br>
                        (Aviva-nos, aviva-nos, aviva-nos senhor)<br>
                        Com uma ferida de fome por Ti<br>
                        Fere o meu coração<br>
                        Com uma ferida de sede por Ti<br>
                        Ensina-me a clamar e a suplicar<br>
                        Até que o Senhor venha<br>
                        <br>
                        Até que Senhor venha<br>
                        Eu vou clamar<br>
                        Até que o senhor venha<br>
                        Eu não vou descansar<br>
                        Até que o senhor venha<br>
                        Eu vou gastar a minha vida<br>
                        Diante do teu altar, Deus!<br>
                        Diante do teu altar!<br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Ouvir-Sábado-2-->
<div class="modal fade" id="ouvir-sabado-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Sábado:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Attos 2 (6ª edição) - Até que <br>o Senhor Venha
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (C#m)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fKJ7DYz46Ho"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Letra-Domingo-->
<div class="modal fade" id="letra-domingo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Domingo:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Kemuel - Ressuscitou<br>+ H.C. - Mensagem da Cruz
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (C#)
                    </h1>
                </div>
                <div class="text-modal mt-3">
                    <h2 class="font-modal">
                        Coberto com espinhos foi<br>
                        Mas hoje em glória está<br>
                        O salvador lavou meus pés<br>
                        E hoje aos seus pés estou<br>
                        Nosso pecado carregou<br>
                        Quão majestoso és<br>
                        Teu amor perfeito brilhará<br>
                        E todos hão de ver<br>
                        <br>
                        Teu nome, Deus, é vencedor<br>
                        A Cristo rei todo o louvor<br>
                        Teu nome, Deus, é vencedor<br>
                        A Cristo rei todo o louvor<br>
                        <br>
                        Não tenho mais o que temer, eu tenho paz em ti<br>
                        Jesus morreu naquela cruz para salvar a mim<br>
                        Teu nome, Deus, é vencedor<br>
                        A Cristo rei todo louvor<br>
                        Teu nome, Deus, é vencedor<br>
                        A Cristo rei todo louvor<br>
                        <br>
                        Pelo espírito de Deus vou das cinzas ressurgir<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        Em teu nome vivo estou, a vitória tenho em ti<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        <br>
                        Pelo espírito de Deus vou das cinzas ressurgir<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        Em teu nome vivo estou, a vitória tenho em ti<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        Pelo espírito de Deus vou das cinzas ressurgir<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        Em teu nome vivo estou, a vitória tenho em ti<br>
                        Jesus ressuscitou e vivo está em mim<br>
                        E vivo está em mim<br>
                        <br>
                        A tumba que o abrigou vazia agora está<br>
                        Seu corpo não está mais lá<br>
                        A morte ele venceu<br>
                        <br>
                        A morte ele venceu<br>
                        <br>
                    </h2>
                    <h2 class="font-modal font-amarela">
                        Sim, eu amo a mensagem da cruz<br>
                        Até morrer eu a vou proclamar<br>
                        <br>
                        Levarei, eu também, minha cruz<br>
                        Até por uma coroa trocar (2x)<br>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Ouvir-Domingo-->
<div class="modal fade" id="ouvir-domingo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content modal-personalizacao">
            <div class="modal-header">
                <button type="button" class="btn-close font-title" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img class="img-modal" src="../../../assets/img/top-modal.png" alt="">

                <div class="text-center">
                    <h1 class="title-modal">
                        Domingo:
                    </h1>
                    <h1 class="subtitule-modal mt-1">
                        Kemuel - Ressuscitou<br>+ H.C. - Mensagem da Cruz
                    </h1>
                    <h1 class="subtitule-modal font-amarela">
                        (C#)
                    </h1>
                </div>

                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_Nk1Pw1qwQ4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="video-modal">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CHVirU1Cn4g"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
    </div>
</div>